<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <style>
        .strikeout {
            text-decoration-line: line-through;
        }
        #shopping-list {
            text-align: center;
            width: 50%;
            margin: 2% 0% 0% 25%;
            padding: 5%;
            background-color:lightgoldenrodyellow;
        }
    </style>
    <script src="http://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="shopping-list" class="card row">
        <div class="header">
            <h1>{{ header || 'Welcome'}}</h1>
            <button v-if="editing" @click="doEdit(false)" class="btn btn-warning">Cancel</button>
            <button v-else @click="doEdit(true)" class="btn btn-primary">Add Item</button>
        </div>
        
        <!-- <h1>{{header ? header : 'Welcome'}}</h1> -->
        <!-- <h1>{{header.toLocaleUpperCase()}}</h1> -->
        <!-- <input v-model='header'> -->

        <div v-if="editing" class="add-item-form">
            <input @keyup.enter="saveItem" 
            v-model="newItem" type="text" placeholder="Add an Item"/>
            <br/>
            <!-- <input v-model="newItem" type="text" placeholder="Add an Item"/> -->
            <p class="counter">{{characterCount}}/200</p>
            <label>
                <input type="checkbox" v-model="newItemHighPriority">
                High Priority
            </label>
            <br/>
            <button v-bind:disabled="newItem.length<5" @click="saveItem" 
            class="btn btn-primary">Save item</button>
        </div>

        <!-- <a v-bind:href="newItem">Dynamic Link</a> -->
        <!-- <strong>Priority</strong>
        <label><input v-model="newItemPriority" type="radio" value="high" />High</label>
        <label><input v-model="newItemPriority" type="radio" value="low" />Low</label> -->
        <br>
        <!-- <label>
            Priority
            <select v-model="newItemPriority">
                <option value="low">Low</option>
                <option value="high">High</option>
            </select>
        </label> -->

        <br>
        <!-- {{newItem}} | {{newItemHighPriority}} -->
        <!-- <br><br> -->
        <!-- <label><input v-model="iceCreamFlavors" type="checkbox" value="vanilla">Vanilla</label>
        <label><input v-model="iceCreamFlavors" type="checkbox" value="chocolate">Chocolate</label>
        <label><input v-model="iceCreamFlavors" type="checkbox" value="strawberry">Strawberry</label>
        <label><input v-model="iceCreamFlavors" type="checkbox" value="cookies-and-creams">Cookies And Creams</label> -->
        <p v-if="items.length === 0">Nice job! You've bought all your items!</p>
        <ul style=" list-style-type: none;">
            <!-- <li v-for="(item,key) in items" :key="item.id">{{key}} {{item.label}}</li> -->
            <li 
            v-for="item in items" :key="item.id" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">
                {{item.label}}
            </li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>
</html>